.Main {
  margin-right: auto;
  margin-left: auto;
  background-color: #DDDDDD;
  font-family:Arial,Helvetica,Calibri,sans-serif;
}

#Main {
  display: flex;
  align-items: center;
  height: 90%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.DivElements {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-bottom: 1.5em;
}

.col-centered {
  float: none;
  margin: 0 auto;
  display: inline-block;
}

.row-centered {
  text-align:center;
}

img { display: block; }


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}






